body {
background-color: #fafafa;
color: #1a1a1a;
}
div {
vertical-align: top;
}
.row {
min-width: 600px;
width: 100%;
}
.wrap_row5 {
position: relative;
display: inline-block;
}
.slot {
display: inline-block;
width: 59px;
height: 33px;
background-color: #cacaca;
color: #fafafa;
text-decoration: none;
}
.dialog {
position: absolute;
display: inline-block;
min-width: 500px;
margin-left: 59px;
margin-top: -33px;
margin-bottom: 10px;
z-index: 6;
background-color: #cfc;
}
.art, .aa,  .alch, .am, .ab, .ax,
.bs, .bm, .br, .bw, .bb, .bh, .ba, .bt,
.cl, .ck, .cw, .cz, .cm, .ch,
.ds, .dz, .dp, .di, .dm, .dk, .dr,
.ea, .es, .et, .em, .ec, .eg,
.fv, .np, .gyro, .husk, .invo,
.jak, .jugg, .kotl
 {
display: inline-block;
width: 59px;
height: 33px;
background-image: url('mugshot_sprite_2.png');
background-repeat: no-repeat;
}
.art  { background-position:    0px    0px }
.alch { background-position:  -59px    0px }
.am   { background-position: -118px    0px }
.aa   { background-position: -177px    0px }
.ax   { background-position: -236px    0px }
.bs   { background-position: -295px    0px }
.bm   { background-position: -354px    0px }
.br   { background-position: -413px    0px }
.bw   { background-position: -472px    0px }
.bb   { background-position: -531px    0px }
.bh   { background-position:    0px  -33px }
.ba   { background-position:  -59px  -33px }
.bt   { background-position: -118px  -33px }
.cw   { background-position: -177px  -33px }
.ck   { background-position: -236px  -33px }
.ch   { background-position: -295px  -33px }
.cz   { background-position: -354px  -33px }
.cl   { background-position: -413px  -33px }
.cm   { background-position: -472px  -33px }
.ds   { background-position: -531px  -33px }
.dz   { background-position:    0px  -66px }
.dp   { background-position:  -59px  -66px }
.di   { background-position: -118px  -66px }
.dm   { background-position: -177px  -66px }
.dk   { background-position: -236px  -66px }
.dr   { background-position: -295px  -66px }
.ea   { background-position: -354px  -66px }
.es   { background-position: -413px  -66px }
.et   { background-position: -472px  -66px }
.em   { background-position: -531px  -66px }
.ec   { background-position:    0px  -99px }
.eg   { background-position:  -59px  -99px }
.fv   { background-position: -118px  -99px }
.np   { background-position: -177px  -99px }
.gyro { background-position: -236px  -99px }
.husk { background-position: -295px  -99px }
.invo { background-position: -354px  -99px }
.jak  { background-position: -413px  -99px }
.jugg { background-position: -472px  -99px }
.kotl { background-position: -531px  -99px }
