body {
background-color: #fafafa;
color: #1a1a1a;
}
div {
vertical-align: top;
}
.row {
min-width: 600px;
width: 100%;
}
.wrap_row5 {
position: relative;
display: inline-block;
}
.slot {
display: inline-block;
width: 59px;
height: 33px;
background-color: #cacaca;
color: #fafafa;
text-decoration: none;
}
.dialog {
position: absolute;
display: inline-block;
min-width: 500px;
margin-left: 59px;
margin-top: -33px;
margin-bottom: 10px;
z-index: 6;
background-color: #cfc;
}
.art, .aa,  .alch, .am, .ab, .ax,
.bs, .bm, .br, .bw, .bb, .bh, .ba, .bt {
display: inline-block;
width: 59px;
height: 33px;
background-image: url('mugshot_sprite.png');
background-repeat: no-repeat;
}
.art {
background-position: 0px 0px;
}
.alch {
background-position: -59px 0px;
}
.am {
background-position: -118px 0px;
}
.aa {
background-position: -177px 0px;
}
.ab {
background-position: -236px 0px;
}
.ax {
background-position: -295px 0px;
}
.bs {
background-position: -354px 0px;
}
.bm {
background-position: -413px 0px;
}
.br {
background-position: -472px 0px;
}
.bw {
background-position: -531px 0px;
}
.bb {
background-position: 0px -33px;
}
.bh {
background-position: 0px -66px;
}
.ba {
background-position: 0px -99px;
}
.bt {
background-position: 0px -132px;
}
