body {
background-color: #fafafa;
color: #1a1a1a;
}
div {
vertical-align: top;
}
.row {
min-width:500px;
width: 100%;
}
.wrap_row5 {
position: relative;
display: inline-block;
}
.slot {
display: inline-block;
width: 35px;
height: 28px;
background-color: #cacaca;
color: #fafafa;
text-decoration: none;
}
.dialog {
position: absolute;
display: inline-block;
min-width: 300px;
margin-left: 50px;
margin-top: -28px;
margin-bottom: 10px;
z-index: 6;
background-color: #cfc;
}
.art, .axe,  .alch, .am {
display: inline-block;
width: 65px;
height: 65px;
background-image: url('sample_sprite.png');
background-repeat: no-repeat;
border: 1px solid #f00;
}
.art {
background-position: 0px 0px;
}
.alch {
background-position: 0px -65px;
}
.am {
background-position: 0px -130px;
}
