<h2>Login</h2>
[% IF err %]
<p class="error"><strong>Error:</strong> [% err %]</p>
[% END %]
<form action="[% login_url %]" method=post>
    <dl>
        <dt>Username:</dt>
        <dd><input type=text name=username /></dd>
        <dt>Password:</dt>
        <dd><input type=password name=password /></dd>
        <dd><input type=submit value=Login /></dd>
    </dl>
</form>
